on boot
    chown system system /sys/module/devfreq_boost/parameters/devfreq_boost
    chmod 0660 /sys/module/devfreq_boost/parameters/devfreq_boost
    chown system system /sys/devices/platform/battery/power_supply/battery/batt_full_capacity
    chmod 0660 /sys/devices/platform/battery/power_supply/battery/batt_full_capacity
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy6/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/policy6/scaling_max_freq